@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&family=Varela+Round&display=swap');

body{
    background-color: rgb(235, 180, 220);

}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: wheat;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 45px;
    padding: 0 8px;
}

.brand{

    display: flex;    
    /* samjho */
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 55vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Varela Round', sans-serif;
    /* samjho */
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    cursor: pointer;
    width: 80vw;
    /* text-align: center; ye kaam nahi karega kyuki ye container nahi h jiske andar items hai! */
}

.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 80%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    padding: 0px 20px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    
    border-radius: 34px;
}

.songListPlay{
    padding: 20px;
}

.timestamp i{
    
    cursor: pointer;
}